.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.cabecalho{
    width: 100%;
    background-color: blue;
    height: 100px;
}
.img{
   padding: 10px;
}

